*{
    background-color: #ccc;
    color: #4ab4aa;
    font-size: 95px;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}